# Objects and Data Structures Assessment Test

## Test your knowledge. 

** Answer the following questions **

Write a brief description of all the following Object Types and Data Structures we've learned about:

Numbers: Numeric numbers like int decimals 1 2 3 4 5.67

Strings: List of Characters, words

Lists: Ordered and indexed collection of group of elements that can be sorted and searched

Tuples: Tuples are like list the elements of which cannot be changed 

Dictionaries: Unordered collection of group of elements that can be searched by a key value pair. When you iterate through a dictionary there is no guarantee that you are going to get things back in the order you put them in

## Numbers

Write an equation that uses multiplication, division, an exponent, addition, and subtraction that is equal to 100.25.

Hint: This is just to test your memory of the basic arithmetic commands, work backwards from 100.25

In [1]:
(10**1 * 10)/1 + 0.5 - 0.25

100.25

Answer these 3 questions without typing code. Then type code to check your answer.

    What is the value of the expression 4 * (6 + 5)
    
    What is the value of the expression 4 * 6 + 5 
    
    What is the value of the expression 4 + 6 * 5

In [4]:
print(4 * (6 + 5))
print(4 * 6 + 5)
print(4 + 6 * 5)

44
29
34

What is the *type* of the result of the expression 3 + 1.5 + 4?<br><br>
Float

What would you use to find a numberâ€™s square root, as well as its square?

In [8]:
# Square root:
import math 
math.sqrt(25)

5.0

In [10]:
# Square:
5**2

25

## Strings

Given the string 'hello' give an index command that returns 'e'. Enter your code in the cell below:

In [11]:
s = 'hello'
# Print out 'e' using indexing
s[1]

'e'

Reverse the string 'hello' using slicing:

In [12]:
s ='hello'
# Reverse the string using slicing
s[::-1]

'olleh'

Given the string hello, give two methods of producing the letter 'o' using indexing.

In [9]:
s ='hello'
# Print out the 'o'
# Method 1:
s[4]

'o'

In [10]:
# Method 2:
s[-1]

'o'

## Lists

Build this list [0,0,0] two separate ways.

In [13]:
# Method 1:
[0,0,0]

[0, 0, 0]

In [20]:
# Method 2:
new_list = []
new_list.append(0)
new_list.append(0)
new_list.append(0)
print(new_list)

[0, 0, 0]

In [53]:
# Method 3
[0]*3

[0, 0, 0]

Reassign 'hello' in this nested list to say 'goodbye' instead:

In [22]:
list3 = [1,2,[3,4,'hello']]
list3[2][2] = 'goodbye'
print(list3)

[1, 2, [3, 4, 'goodbye']]

Sort the list below:

In [30]:
list4 = [5,3,4,6,1]
list4.sort()
print(list4)

[1, 3, 4, 5, 6]

In [54]:
# Sorting using the sorted method returns the list as an output
list5 = [9,8,3,7,6]
sorted(list5)

[3, 6, 7, 8, 9]

## Dictionaries

Using keys and indexing, grab the 'hello' from the following dictionaries:

In [31]:
d = {'simple_key':'hello'}
# Grab 'hello'
d['simple_key']

'hello'

In [32]:
d = {'k1':{'k2':'hello'}}
# Grab 'hello'
d['k1']['k2']

'hello'

In [33]:
# Getting a little tricker
d = {'k1':[{'nest_key':['this is deep',['hello']]}]}

#Grab hello
d['k1'][0]['nest_key'][1][0]

'hello'

In [55]:
# This will be hard and annoying!
d = {'k1':[1,2,{'k2':['this is tricky',{'tough':[1,2,['hello']]}]}]}
d['k1'][2]['k2'][1]['tough'][2][0]

'hello'

Can you sort a dictionary? Why or why not?<br><br>

No. Because normal dictionaries are mapping not a sequence

## Tuples

What is the major difference between tuples and lists?<br><br>

Tuples are immutable and lists are mutable. Elements inside a tuple cannot be modified

How do you create a tuple?<br><br>

You can create a tuple with t = (1,2,3)

## Sets

What is unique about a set?<br><br>
set is a list of unique elements

Use a set to find the unique values of the list below:

In [41]:
list5 = [1,2,2,33,4,4,11,22,3,3,2]
my_set = set(list5)
print(my_set)

{1, 2, 33, 4, 3, 11, 22}

## Booleans

For the following quiz questions, we will get a preview of comparison operators. In the table below, a=3 and b=4.

<table class="table table-bordered">
<tr>
<th style="width:10%">Operator</th><th style="width:45%">Description</th><th>Example</th>
</tr>
<tr>
<td>==</td>
<td>If the values of two operands are equal, then the condition becomes true.</td>
<td> (a == b) is not true.</td>
</tr>
<tr>
<td>!=</td>
<td>If values of two operands are not equal, then condition becomes true.</td>
<td> (a != b) is true.</td>
</tr>
<tr>
<td>&gt;</td>
<td>If the value of left operand is greater than the value of right operand, then condition becomes true.</td>
<td> (a &gt; b) is not true.</td>
</tr>
<tr>
<td>&lt;</td>
<td>If the value of left operand is less than the value of right operand, then condition becomes true.</td>
<td> (a &lt; b) is true.</td>
</tr>
<tr>
<td>&gt;=</td>
<td>If the value of left operand is greater than or equal to the value of right operand, then condition becomes true.</td>
<td> (a &gt;= b) is not true. </td>
</tr>
<tr>
<td>&lt;=</td>
<td>If the value of left operand is less than or equal to the value of right operand, then condition becomes true.</td>
<td> (a &lt;= b) is true. </td>
</tr>
</table>

What will be the resulting Boolean of the following pieces of code (answer fist then check by typing it in!)

In [42]:
# Answer before running cell
2 > 3

False

In [43]:
# Answer before running cell
3 <= 2

False

In [44]:
# Answer before running cell
3 == 2.0

False

In [45]:
# Answer before running cell
3.0 == 3

True

In [47]:
# Answer before running cell
#4**0.5 != 2
4**0.5

2.0

Final Question: What is the boolean output of the cell block below?

In [48]:
# two nested lists
l_one = [1,2,[3,4]]
l_two = [1,2,{'k1':4}]

# True or False?
l_one[2][0] >= l_two[2]['k1']

False

## Great Job on your first assessment!