## Old way of opening a file in python and reading as one giant string

In [29]:
myfile = open("test.txt")
myfile.read()

'This is a test file\nFirst line on first\nSecond line on second \nThird line on third'

## After reading the file for the first time the cursor comes to the end of the file
## In order to read the file again use the seek(0) method to take the cursor to the begining of the file

In [30]:
myfile.seek(0)

0

## Reading the file again with readlines()

In [31]:
myfile.readlines()

['This is a test file\n',
 'First line on first\n',
 'Second line on second \n',
 'Third line on third']

## #Finally closing the file

In [32]:
myfile.close()

## New way of opening reading and closing a file

In [35]:

with open('test.txt') as new_file_content:
   contents = new_file_content.read()

In [36]:
contents

'This is a test file\nFirst line on first\nSecond line on second \nThird line on third'

## Reading Writing Appending modes 
* mode='r' is read only 
* mode='w' is write only (will overwrite files or create new!)
* mode='a' is append only (will add on ot files)
* mode='r+' is reading and writing
* mode='w+' is writing and reading (overwrites existing files or creates a new file!)

## Reading from a file Appending a new line to the file and displaying the updated content of the file

In [37]:
with open('new_file.txt', mode='r') as f: 
    print(f.read())

This is a file
One on first
two on second
three on third

In [1]:
with open('new_file.txt', mode='a') as f: 
    f.write('Four on fourth')

In [4]:
with open('new_file.txt', mode='r') as f:
    print(f.read())

This is a file
One on first
two on second
three on third
Four on fourth

## Overwritting and creating a new file

In [46]:
with open("second_file.txt", mode='w') as f:
    f.write('I created this file')

## Reading the newly created file

In [48]:
with open('second_file.txt', mode='r') as f:
    print(f.read())

I created this file

## Printing a formatted string

In [43]:
name = "John Doe"
age = 32
height = 5.255738
print(f"The client name is {name} is {age} years old and height is {height:10.3f} feet")

The client name is John Doe is 32 years old and height is      5.256 feet